/*  Components */
@import '@/components/Header/index.css';

/* Modules */
@import '@/modules/Quiz/components/Categories/index.css';
@import '@/modules/Leaderboard/index.css';

* {
  --main-text-color: #a191ff;
  --header-bg-color: #e8e8e8;
  --main-bg-color: #a191ff;
  --item-hover-bg-color: #c7beff;
  --item-selected-bg-color: #5639fc;
  --primary-border-color: #b802b5;
}

.h100 {
  min-height: calc(100vh - 10vh);
}

.p-8 {
  padding: 16px 0;
}

.ant-typography {
  text-align: center;
}
